<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PidgeySync</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<nav class="navbar navbar-expand-md stroke">
		<a class="navbar-brand" href="#"><!-- <img class ="navlogo" src="images/PidgeySyncLogo.png"> -->PidgeySync</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a> 
				</li>
			</ul>
			<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
				<ul class="navbar-nav ml-auto">
		            <li class="nav-item">
		                <a class="nav-link" style="color: #efefef;" onclick="javascript:introJs().setOption('showProgress',true).start();" title="Start Tour" id= "start-tour"><i class="far fa-question-circle fa-2x"></i></a>
		            </li>
		        </ul>
			</div>
		</div>
	</nav>

	<!-- <nav class="navbar navbar-inverse">
      <a href="#" class="navbar-left"><img src="images/PidgeySyncLogo.png" id="logo" width="50px"></a>
      <div class="container-fluid">
        <div class="navbar-header">
          <a id="pidgy" class="navbar-brand" href="#"><img src="images/PidgeyNavLogo.png" style="width: 20%; height: 20%;"></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="default"><a href="#ABOUT">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text" style="color: #FDB400">Need Help?</p>
          <li><a onclick="javascript:introJs().setOption('showProgress',true).start();">Start Tour</a></li>
        </ul>
      </div>
    </nav> -->
	<div class="container-fluid">
		<div class="row" id="first_row">
			<div class="col-md-10 offset-md-1 timeline" id="addWave">
				<div id="addWave-timeline"></div>
				<div class="dragndrop">
					<div>
						<p>Drag and drop Wav file here</p>
						<p>or</p>
						<form id="uploadForm" enctype="multipart/form-data" action="/upload" method="POST" accepts="audio/wav">
				      <div class="form-group" data-step="1" data-intro="Hello, I will be guiding you through on how to generate you first automatic lip sync. First you have to upload a .wav file of your choice." data-tooltipclass='forLastStep'>
					      <label class="btn btn-info btn-file">
					        Choose Audio File <input id="files" type="file" style="display: none;" name="userPhoto" required>
					      </label>
								<input id="Submitter" data-toggle="tooltip" data-placement="top" title="Upload Audio File" type="submit" class="btn btn-info" value="Upload Audio File">
								<div id="fileName" style='color:black;'></div>
					    </div>
			      </form>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="second_row" style="display:none;" >
			<div class="col-md-10 offset-md-1 edit">
				<button type="button" class="btn btn-primary">SPEECH TO TEXT</button>
			</div>
			<div class="col-md-1 export speech">
				<h2>EXPORT</h2>
			</div>
		</div>
	</div>


	  <% if(files) {%>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src ="dist/wavesurfer.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/wavesurfer.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.timeline.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.regions.min.js"></script>
      <script src="javascript/scriptOne.js"></script>
      <script src="javascript/script.js"/>
    <%}%>
      

    
</body>
		
      
</html>