<html>
  <head>
    <title>PidgeySync</title>
      <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
      <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <link rel="stylesheet" href="css/style.css">
      <link rel="icon" href="images/favicon.png" type="image/png">
  </head>
  <body id="body">
  	<div id="nav">
       <!--<div class ="nav-link zero"id="navlogo"><img src="images/PidgeySyncLogo.png"></div>-->
      <div class="nav-link first">PidgeySync</div>     
      <div class="nav-link home">Home</div>      
      <div class="nav-link about">About</div>

      <div class="nav-link help">Need Help?</div>
      <div class="nav-link tour"><a onclick="javascript:introJs().setOption('showProgress',true).start();">Start Tour</a></div>
	  
	  
	   <!--Stuff for the tour
	   <div class="form-group" data-step="1" data-intro="Hello, I will be guiding you through on how to generate you first automatic lip sync. First you have to upload a .wav file of your choice." data-tooltipclass='forLastStep'>
	   <button id ="generate" type="button" class="btn btn-info" data-step="2" data-intro="Then, click on generate and the speech to text magic will happen in a flash!">GENERATE</button>
	   <button id ="breakdown" type="button" class="btn btn-info" data-step="3" data-intro="By clicking Breakdown, annotations will be added to the timeline so that you can see exactly where what phonemes are being pronounced." disabled="disabled">BREAKDOWN</button>
	   <button id = "EDIT" type="button" class="btn btn-default" data-step="4" data-intro="How did that turn out? If you are not happy with what was generated, you're more than welcome to edit the text." disabled="disabled">SAVE</button>
	   <button id = "SAVE" type="button" class="btn btn-default" data-step="5" data-intro="You can now save what you have edited.">SAVE</button>
	   <button id = "EXPORT" type="button" class="btn btn-info" data-step="6" data-intro="If you're satisfied, you can now export your results to a .dat file which you can then use in any animation software of your choice." disabled="disabled">EXPORT</button>
       <button id = "EMAIL" type="button" class="btn btn-info" data-step="7" data-intro="If you're satisfied, you can also email your results . GOODLUCK!" disabled="disabled">EMAIL</button>-->
	
	</div>
	
  	<div id="main">
      <div id="modal-bg">
      </div>
      <div id="main-modal"></div>
    </div>
  	<div id="footer">
  		<div class="crumb-container">
	  		<div id="upload" class="crumb"><img id="uploadImage" src="images/PidgeySync_Icons/upload_LB.png"></div>
	  		<div id="edit" class="crumb inactive"><img id="editImage" src="images/PidgeySync_Icons/edit_LB.png"></div>
	  		<div id="preview" class="crumb inactive"><img id= "previewImage" src="images/PidgeySync_Icons/preview_LB.png"></div>
	  		<div id="download" class="crumb inactive"><img id="downloadImage" src="images/PidgeySync_Icons/download_LB.png"></div>
      </div>
	    <!-- <footer>
	    	<em>&copy; 2018 Full Stack Solutions</em>
	    </footer> -->
    </div>
    <div id="about_popup">
        <img class="about-image" src="images/PidgeySyncLogo.png">
        <p class="about-text">PidgeySync is an open source software that automatically syncs a character 
		dialogue with the appropriate mouth shapes(phonemes) to make the animation look realistic.</p>
    </div>

    <script>
      $(function() {
        $(".about").click(function(){
          $("#about_popup").fadeToggle();
        });

        $("#modal-bg").click(function(){         
            $("#modal-bg").fadeOut();
            $("#main-modal").fadeOut();
        })
		
        $("#upload").click(function(){
          $("#modal-bg").fadeToggle();
          $("#main-modal").fadeToggle();
		  
		  $("#uploadImage").attr("src","images/uploadY.png");
		  $("#editImage").attr("src","images/edit_LB.png");
		  $("#previewImage").attr("src","images/preview_LB.png");
		  $("#downloadImage").attr("src","images/download_LB.png");

          let modalContent = "<div id='upload-title' class='title'>Upload Your Audio</div>";
          modalContent += '<div id="browse-div" class="custom-file">';
          modalContent += '<span class="button" >Browse</span>';
          modalContent +='<input type="file" id="file" data-toggle="tooltip" title="Browser for Audio File" accept="audio/*"/>';
          modalContent +='</div>';
          
		  modalContent += '<div id="upload-div" >';
          modalContent += "<button id='upload-button' data-toggle='tooltip' title='Upload Audio File' class='button'>Upload</button>";
          modalContent += "<span id='upload-text' class='text' ></span>";
		  modalContent +='</div>';
          
          $("#main-modal").html(modalContent);
        });
        $("#main-modal").on('change','#file',function(){
            $("#file-data").text(this.value);
        });
        $("#main-modal").on('hover','.custom-file', function(){
          console.log("hovered browse upload");
          $("span.button").css({
             "border-color":"#fdb400",
             "color":"#fdb400"}
          )
        });
        $("#main-modal").on('leave','.custom-file', function(){
          $("span.button").css({
             "border-color":"",
             "color":""}
          )
        });      
        $("#main-modal").on('change', '#file', function() {
            $("#upload-text").append($(this).val());
        });     
		$("#main-modal").on('click', '#upload-button', function(){
			$("#main-modal").empty();
			
			 let modalContent = "<div id='upload-title' class='title'>Upload Your Audio</div>";
			  modalContent += "<div id='audio-wave'></div>";
			  
			  //FIX HOVER OVER BUTTON
			  modalContent += '<div id="NewBrowseDiv" class="custom-file">';
			  modalContent += '<span class="button">Browse</span>';
			  modalContent +='<input type="file" data-toggle="tooltip" title="Browse for Audio File" id="file" accept="audio/*"/>';
			  modalContent +='</div>';
			  
			  modalContent += '<div id="NewUploadDiv" >';
			  modalContent += "<button  class='button' data-toggle='tooltip' title='Upload Audio File' >Upload</button>";
			  modalContent += "<span id='upload-text' class='text' ></span>";
			  modalContent +='</div>';
		
			  modalContent += '<div id="loading"></div>';
			  modalContent += '<div id="generateDiv" >';
			  modalContent += '<span class="generateButton" data-toggle="tooltip" title="Speech To Text" >Generate</span>';
			  modalContent +='</div>';
			  		  
			  modalContent += '<div id="mediaControlDiv" >';
			  modalContent += '<span name="play" class="mediaButton" ><img src="images/play.png" align="center" style="width: 40px; height:35px" data-toggle="tooltip" title="Play"></span>';
			  modalContent += '<span name="pause" class="mediaButton " ><img src="images/pause.png" align="center" style="width: 40px; height:35px" data-toggle="tooltip" title="Pause"></span>';
			  modalContent += '<span name="stop" class="mediaButton" ><img src="images/stop.png" align="center" style="width: 40px; height:35px" data-toggle="tooltip" title="Stop"></span>';
			  modalContent +='</div>';
	
			$("#main-modal").html(modalContent);
		});		
		$("#main-modal").on('click', '#generateDiv', function(){
			$("#loading").append('<img src="images/loader.gif" alt="Smiley face" width="72" height="72" >');		
			//Get function causing MONGO ERROR: file with id not opened for writing	
			/*$.get("/text", function(data, status){
			 console.log("I AM WORKING");
			$("textarea").append(data.toString()); 
			$("#loading").empty();
			});*/
			$('#edit').removeClass("crumb inactive");		
			$('#edit').addClass("crumb");

			$("#edit").on('click', function(){	
				$("#main-modal").empty();
				$("#editImage").attr("src","images/editY.png");
				$("#uploadImage").attr("src","images/upload_LB.png");
				$("#previewImage").attr("src","images/preview_LB.png");
				$("#downloadImage").attr("src","images/download_LB.png");
				let modalContent = "<div id='upload-title' class='title'>Edit Generated Text</div>";
				modalContent += '<textarea id = "speechtotext" type="text" class="form-control" wrap="hard" rows="5" ></textarea>';
				
				modalContent += '<div id="loading"></div>';
				modalContent += '<div id="breakdown-div" >';
				modalContent += "<button  id='breakdown' class='breakDownButton button' data-toggle='tooltip' title='Add Time Stamps'>Breakdown</button>";
				modalContent +='</div>';
			  
				modalContent += '<div id="save-div" >';
				modalContent += "<button class='saveButton button' data-toggle='tooltip' title='Save Changes'>Save</button>";
				modalContent +='</div>';
				$("#main-modal").html(modalContent);
				
				if(document.getElementById("preview").className=="crumb")
				{
					$("#previewImage").on('click', function(){				
					$("#main-modal").empty();
					$("#previewImage").attr("src","images/previewY.png");
					$("#editImage").attr("src","images/edit_LB.png");
					$("#downloadImage").attr("src","images/download_LB.png");
						
					
					let modalContent = "<div id='upload-title' class='title'>Mouth Preview</div>";
					modalContent += "<div id='mouthPiece'></div>";
					modalContent += '<select id="selectMouth" data-toggle="tooltip" title="Select Mouth Piece">';
					
					//Activing the next 4 lines causes the modalContent data to disappear 
					modalContent += '<option value="Select Mouth">Select Mouth</option>';
					modalContent += '<option value="Mouth 1">Mouth 1</option>';
					modalContent += '<option value="Mouth 2">Mouth 2</option>';
					modalContent += '<option value="Mouth 3">Mouth 3</option>';

					modalContent +=	'</select>';
					modalContent += '<div id="mediaControlDivPreview" >';
					modalContent += '<span name="play" class="mediaButton button" ><img src="images/play.png" id="play" align="center" style="width: 40px; height:35px" data-toggle="tooltip" title="Play"></span>';
					modalContent += '<span name="pause" class="mediaButton button" ><img src="images/pause.png" id="pause" align="center" style="width: 40px; height:35px" data-toggle="tooltip" title="Pause"></span>';
					modalContent += '<span name="stop" class="mediaButton button" ><img src="images/stop.png" id="stop" align="center" style="width: 40px; height:35px" data-toggle="tooltip" title="Stop"></span>';
					modalContent +='</div>';	
					$("#main-modal").html(modalContent);
					});
				}
			});
			$("#main-modal").on('click', '#speechtotext', function(){	
				alert("writing");
				  var text = $("#speechtotext").val();
				  //Error caused by post  function
				 /* $.post("/update",{output: text},function(data,status){			
				  });  */
				  
			});
			
			$("#main-modal").on('click', '#save-div', function(){		
				$("#loading").append('<img src="loader.gif" alt="Smiley face" width="72" height="72" >');
				$('#preview').removeClass("crumb inactive");
				$('#preview').addClass("crumb");
				  var text = $("#speechtotext").val();
				 //Error caused by post  function
				 /* $.post("/update",{output: text},function(data,status){
					console.log("Data: " + data);
					$("#loading").empty();
					$("#loading").append("<h3 id='SAVED' style='font-family: birdHouse;color:black;position:absolute; >SAVED !</h3>");
					console.log("callback for edit returned");
					$('#SAVED').fadeOut('slow',function(){
						$('#loading').empty();
					  });
				  });  */
				  
				  $("#preview").on('click', function(){	
					$("#main-modal").empty();
					$("#previewImage").attr("src","images/previewY.png");
					$("#editImage").attr("src","images/edit_LB.png");
					$("#downloadImage").attr("src","images/download_LB.png");
							
					let modalContent = "<div id='upload-title' class='title' text-align='center'>Mouth Preview</div>";
					modalContent += "<div id='mouthPiece'></div>";
					modalContent += '<select id="selectMouth" data-toggle="tooltip" title="Select Mouth Piece"  >';
					
					//Activing the next 4 lines causes the modalContent data to disappear 
					
					modalContent += '<option value="Select Mouth">Select Mouth</option>';
					modalContent += '<option value="Mouth 1">Mouth 1</option>';
					modalContent += '<option value="Mouth 2">Mouth 2</option>';
					modalContent += '<option value="Mouth 3">Mouth 3</option>';
					
					modalContent +=	'</select>';
					modalContent += '<div id="mediaControlDivPreview" >';
					modalContent += '<span name="play" class="mediaButton button" ><img src="images/play.png" id="play" align="center" style="width: 40px; height:35px" data-toggle="tooltip" title="Play"></span>';
					modalContent += '<span name="pause" class="mediaButton button" ><img src="images/pause.png" id="pause" align="center" style="width: 40px; height:35px" data-toggle="tooltip" title="Pause"></span>';
					modalContent += '<span name="stop" class="mediaButton button" ><img src="images/stop.png" id="stop" align="center" style="width: 40px; height:35px" data-toggle="tooltip" title="Stop"></span>';
					modalContent +='</div>';	
					$("#main-modal").html(modalContent);
					});
			
			});
		});	
		$("#main-modal").on('click', '#breakdown-div', function(){
			$('#preview').removeClass("crumb inactive");
			$('#preview').addClass("crumb");
			
			$("#preview").on('click', function(){	
				$("#main-modal").empty();
				$("#previewImage").attr("src","images/previewY.png");
				$("#editImage").attr("src","images/edit_LB.png");
						
				let modalContent = "<div id='upload-title' class='title' text-align='center'>Mouth Preview</div>";
				modalContent += "<div id='mouthPiece'></div>";
				modalContent += '<select id="selectMouth" data-toggle="tooltip" title="Select Mouth Piece"  >';
				
				//Activing the next 4 lines causes the modalContent data to disappear 		
				/*modelContent += '<option value="Select Mouth">Select Mouth</option>';
				modelContent += '<option value="Mouth 1">Mouth 1</option>';
				modelContent += '<option value="Mouth 2">Mouth 2</option>';
				modelContent += '<option value="Mouth 3">Mouth 3</option>';*/
				
				modalContent +=	'</select>';
				modalContent += '<div id="mediaControlDiv" >';
				modalContent += '<span name="play" class="mediaButton button" ><img src="images/play.png" id="play" align="center" style="width: 40px; height:35px" data-toggle="tooltip" title="Play"></span>';
				modalContent += '<span name="pause" class="mediaButton button" ><img src="images/pause.png" id="pause" align="center" style="width: 40px; height:35px" data-toggle="tooltip" title="Pause"></span>';
				modalContent += '<span name="stop" class="mediaButton button" ><img src="images/stop.png" id="stop" align="center" style="width: 40px; height:35px" data-toggle="tooltip" title="Stop"></span>';
				modalContent +='</div>';	
				$("#main-modal").html(modalContent);
				});
		});		
		$("#main-modal").on('click', '#selectMouth', function(){	
			$('#download').removeClass("crumb inactive");
			$('#download').addClass("crumb");
			
			$("#downloadImage").on('click', function(){	
			$("#downloadImage").attr("src","images/downloadY.png");
		    $("#editImage").attr("src","images/edit_LB.png");
		    $("#previewImage").attr("src","images/preview_LB.png");
			$("#main-modal").empty();
			let modalContent = "<div id='upload-title' class='title'>Export the DAT file</div>";
			
			modalContent += '<div id="download-div" >';
			modalContent += "<button id='download-button' class='button' data-toggle='tooltip' title='Download DAT file'>Download</button>";
			modalContent += "<span id='upload-text' class='text' ></span>";
			modalContent +='</div>';
			modalContent += '<div id="EandE"></div>';
			modalContent += '<div id="email-div" >';
			modalContent += "<button id='email-button' class='button' data-toggle='tooltip' title='Email DAT file'>Email</button>";
			modalContent += "<span id='upload-text' class='text' ></span>";
			modalContent +='</div>';
			  
			$("#main-modal").html(modalContent);
			});
		});		
		$("#main-modal").on('click', '#download-button', function(){
			alert("download button clicked");
			//Error cause by get function
			/* $.get("/pidgin_breakdown", function(data, status){
			  console.log("Data: " + data + "\nStatus: " + status);
			  $("#EandE").append("<h3 id='exFeedback' style='color:black; font-family: birdHouse;'>Download Complete</h3>");
			  $('#exFeedback').fadeOut('slow',function(){
				$('#EandE').empty();
			  });
			});*/
		});
    });
    </script>
    <% if(files) {%>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src ="dist/wavesurfer.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/wavesurfer.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.timeline.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.regions.min.js"></script>
      <script src="javascript/scriptOne.js"/>
      <!--<script src="javascript/script.js"/>-->
    <%}%>

  </body>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.min.js"></script>  

    <script>
    var myIndex = 0;
    carousel();
    
    function carousel() {
	var i;
	var x = document.getElementsByClassName("slides");
	for (i = 0; i < x.length; i++) {
	   x[i].style.display = "none";  
	}
	myIndex++;
	if (myIndex > x.length) {myIndex = 1}    
	x[myIndex-1].style.display = "block";  
	setTimeout(carousel, 300);
	}
    </script>
</html>