/*---------------------FONTS---------------------------------*/
@font-face{
	font-family: birdHouse;
	src:url(../fonts/AnotherBirdhouse.ttf);
}

@font-face{
	font-family: Roboto;
	src:url(../fonts/Roboto-Regular.ttf);
}

@font-face{
	font-family: Roboto_Light;
	src:url(../fonts/Roboto-Light.ttf);
}
/*---------------------ELEMENTS----------------------------*/
body{
	background-color: #EFEFEF;
}
/*---------------------------NAVBAR --------------------------*/
.navbar{
	background-color: #617D8A;

}
.navbar-brand{
	font-family: birdHouse;
	font-size: 40px;
	color: black;
}

.navbar-inverse{
	padding: 2px;
}

.navbar-inverse .container-fluid{
	padding: 0px;
}



.pidgy{
	padding: 2px;
}

/*---------------------------waveform-------------------------*/

wave{
	top:90px;

}
timeline{
	top:90px;
}
.dragndrop{
	display: flex;
	align-items: center;
	border:1px solid black;
	padding:50px;
	border-style: dashed;
	border-radius: 30px;
	height:100%;
}
.dragndrop>div{
	width:60%;
	text-align: center;
	margin: 0 auto;
}
.timeline{
	margin-top: 30px;
	margin-bottom:20px;
	box-shadow: 6px 8px 30px #888888;
	padding:20px;
	height:50vh;
}
.edit{
	line-height: 260px;
	text-align: center;
	height:30vh;
	box-shadow: 6px 8px 30px #888888;
}
.export{
	height: 30vh;
	background-color: #617D8A;
	box-shadow: 6px 8px 30px #888888;
	position: relative;
	z-index: 10;
	left: -8%;

}
.export>h2{
	    position: relative;
	    top:35%;
	    font-weight: lighter;
    
    -webkit-transform: rotate(90deg); 
    -moz-transform:    rotate(90deg); 
    -ms-transform:     rotate(90deg); 
    -o-transform:      rotate(90deg);

}
.fa-caret-left:before {
    content: "\f0d9";
    margin-top: 110px;
    position: absolute;
}
.btn{
	background-color: #617D8A !important;
	border: none !important;
}
#uploadForm>button{
	background-color: #478DFB !important;
}
.form-group>label{
	margin-bottom: 0px !important;
}

.addWave {
	background-color: #617D8A;
}