<form id="uploadForm" enctype="multipart/form-data" action="/upload" method="POST" class="dropzone" style="position:absolute;bottom:0;">
		                  <div class="form-group">
		                    <label class="btn btn-info btn-file">
		                      Choose Audio File <input id="file" type="file" style="display: none;" name="file">
		                    </label>
							
		                    <input id="Submitter" type="submit" class="btn btn-info" value="Submit" disabled>	
		                    <div id="file-upload-filename"></div>	     
		                  </div>
		              </form>
